@layer base {
  input,
  textarea {
    @apply flex py-2 px-3 min-h-10 text-text rounded-md border border-accent focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200;
  }
}

@layer components {
  .loader {
    @apply bg-foreground fixed inset-0 z-999 skew-x-10 transition-all duration-800 ease-out;

    &.left {
      @apply -translate-x-2/10;

      &.loaded {
        @apply -translate-x-12/10;
      }
    }

    &.right {
      @apply translate-x-2/10;

      &.loaded {
        @apply translate-x-12/10;
      }
    }
  }

  .sect {
    @apply flex flex-col gap-8 px-4 py-16 items-center justify-center;
  }

  .sect-container {
    @apply flex flex-col w-full max-w-7xl gap-8;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary-hover text-primary-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .secondary-btn {
    @apply bg-accent hover:bg-accent-hover text-accent-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .tooltip {
    @apply relative;

    &.icon {
      @apply items-center justify-center text-sm font-semibold size-5 bg-accent text-accent-contrast rounded-full cursor-default;
    }

    &::after {
      content: attr(data-tooltip);
      @apply absolute -top-2 left-1/2 -translate-x-1/2 -translate-y-full bg-accent rounded-md w-max max-w-3xs p-2 text-sm font-normal text-accent-contrast scale-0 origin-bottom transition-transform duration-200;
    }

    &:hover::after {
      @apply scale-100;
    }
  }
}
