@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@utility font-default {
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}

@layer base {
  ::selection {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  h1 {
    @apply text-7xl font-default font-bold tracking-tight text-text;
  }

  h2 {
    @apply text-5xl font-default font-semibold tracking-tight text-text;
  }

  h3 {
    @apply text-3xl font-semibold font-default tracking-tight text-text;
  }

  h4 {
    @apply text-xl font-medium font-default tracking-tight text-text;
  }

  h5 {
    @apply text-lg font-medium font-default tracking-wide text-text;
  }

  h6 {
    @apply text-base font-medium font-default tracking-wide text-text;
  }

  p {
    @apply text-base font-normal font-default tracking-wider text-text;
  }

  a,
  span {
    @apply text-text;
  }
}
